<div class="container">
  <div class="border-top border-bottom row">
    <div class="col-md-2">
      <ul>
        <li class="title">NEWS</li>
        <li class="click">World</li>
        <li class="click">U.S.</li>
        <li class="click">Politics</li>
        <li class="click">N.Y.</li>
        <li class="click">Business</li>
        <li class="click">Tech</li>
        <li class="click">Science</li>
        <li class="click">Health</li>
        <li class="click">Sports</li>
        <li class="click">Education</li>
        <li class="click">Obituaries</li>
        <li class="click">Today's Paper</li>
        <li class="click">Corrections</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">OPINION</li>
        <li class="click">Today's Opinion</li>
        <li class="click">Op-Ed Columnists</li>
        <li class="click">Editorials</li>
        <li class="click">Op-Ed Contributors</li>
        <li class="click">Letters</li>
        <li class="click">Sunday Review</li>
        <li class="click">Video: Opinion</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">ARTS</li>
        <li class="click">Today's Arts</li>
        <li class="click">Art & Design</li>
        <li class="click">Books</li>
        <li class="click">Dance</li>
        <li class="click">Movies</li>
        <li class="click">Music</li>
        <li class="click">N.Y.C. Events Guide</li>
        <li class="click">Television</li>
        <li class="click">Theater</li>
        <li class="click">Video: Arts</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">LIVING</li>
        <li class="click">Automobiles</li>
        <li class="click">Crossword</li>
        <li class="click">Food</li>
        <li class="click">Education</li>
        <li class="click">Fashion & Style</li>
        <li class="click">Health</li>
        <li class="click">Jobs</li>
        <li class="click">Magazine</li>
        <li class="click">N.Y.C. Events Guide</li>
        <li class="click">Real Estate</li>
        <li class="click">T Magazine</li>
        <li class="click">Travel</li>
        <li class="click">Weddings & Celebrations</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">LISTINGS & MORE</li>
        <li class="click">Reader Center</li>
        <li class="click">Classifieds</li>
        <li class="click">Tools & Services</li>
        <li class="click">N.Y.C. Events Guide</li>
        <li class="click">Multimedia</li>
        <li class="click">Photography</li>
        <li class="click">Video</li>
        <li class="click">NYT Store</li>
        <li class="click">Times Journeys</li>
        <li class="click">Subscribe</li>
        <li class="click">Manage My Account</li>
        <li class="click">NYTCo</li>
      </ul>
    </div>
    <div class="border-left col-md-2">
      <ul>
        <li class="title">SUBSCRIBE</li>
        <li class="click bold">Home Delivery</li>
        <li class="click bold">Digital Subscriptions</li>
        <li class="click bold">Crossword</li>
        <li class="click small">Email Newsletters</li>
        <li class="click small">Alerts</li>
        <li class="click small">Gift Subscriptions</li>
        <li class="click small">Group Subscriptions</li>
        <li class="click small border-bottom">Education Rate</li>
        <li class="click small">Mobile Applications</li>
        <li class="click small">Replica Edition</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <ul class="below-text">
      <li class="click border-right">© 2018 The New York Times Company</li>
      <li class="click border-right"> Contact Us</li>
      <li class="click border-right">Work With Us</li>
      <li class="click border-right">Advertise</li>
      <li class="click border-right">Your Ad Choices</li>
      <li class="click border-right">Privacy</li>
      <li class="click border-right">Terms of Service</li>
      <li class="click">Terms of Sale</li>
    </ul>
    <ul class="below-text2">
      <li class="click border-right">Site Map</li>
      <li class="click border-right">Help</li>
      <li class="click border-right">Site Feedback</li>
      <li class="click">Subscriptions</li>
    </ul>
  </div>
</div>
