ul{
  list-style-type: none;
}

.title{
  font-weight: bold;
}
.bold{
  font-weight: bold;
  font-size: 25px;
}
.small{
  font-size: 11px;
}

.click:hover {
  text-decoration: underline;
  cursor: pointer;
}
.below-text{
  padding-right: 100px;
}
.below-text li{
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10px;
  color: grey;
}
.below-text2 li{
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10px;
  color: grey;
}
