<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul>
        <li class="title">News</li>
        <li>World</li>
        <li>U.S.</li>
        <li>Politics</li>
        <li>N.Y.</li>
        <li>Business</li>
        <li>Tech</li>
        <li>Science</li>
        <li>Health</li>
        <li>Sports</li>
        <li>Education</li>
        <li>Obituaries</li>
        <li>Today's Paper</li>
        <li>Corrections</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">Opinion</li>
        <li>Today's Opinion</li>
        <li>Op-Ed Columnists</li>
        <li>Editorials</li>
        <li>Op-Ed Contributors</li>
        <li>Letters</li>
        <li>Sunday Review</li>
        <li>Video: Opinion</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li class="title">Arts</li>
        <li>Today's Arts</li>
        <li>Art & Design</li>
        <li>Books</li>
        <li>Dance</li>
        <li>Movies</li>
        <li>Music</li>
        <li>N.Y.C. Events Guide</li>
        <li>Television</li>
        <li>Theater</li>
        <li>Video: Arts</li>
      </ul>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
