<div class="d-flex justify-content-center">
  <img width="154" height="26" style="-webkit-user-select: none;" src="https://g1.nyt.com/assets/homepage/20180501-200119/images/foundation/logos/nyt-logo-379x64.png">

</div>
<div class="box">
  <h3>Log In</h3>
  <p>Don't have an account? <a href="#">Create one >></a></p>
  <button type="button" name="button" class="btn btn-primary">Log In with Facebook</button>
  <button type="button" name="button" class="btn btn-info">Log In with Google</button>
  <p><strong>OR</strong></p>
  <input placeholder="Username or Email Address">
  <br>
  <input placeholder="Password">
  <br>
  <button type="button" name="button" class="btn login">Log In</button>
</div>
<div class="below">
  <p>© 2018 The New York Times Company</p>
  <ul>
    <li><a href="#">Help</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</div>
