<img width="344" height="44" style="-webkit-user-select: none;" src="https://g1.nyt.com/assets/homepage/20180501-200119/images/foundation/logos/nyt-logo-379x64.png">

<ul class="top">
  <li>Why The Times?</li>
  <li>What You Get</li>
  <li>Pricing</li>
  <li>More Options</li>
</ul>

<p class="login">LOG IN</p>
<div class="jumbotron box">
  <h3><strong>Help Times journalists uncover the next big story.</strong></h3>
  <br>
  <h3>Get the Times from <span class="line">$15.99</span> $9.99 a month</h3>
</div>
<div class="near-top">
  <p>Choose between our <strong>Digital</strong> or <strong>Home Delivery</strong> options. You may cancel anytime.</p>
  <p>Are you a student? <span class="click">Special rates here</span></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="basic">
        <h3>Basic</h3>
        <br>
        <p><span class="line-through">$15.99</span>$9.99/month*</p>
        <button type="button" name="button" class="btn btn-secondary">GET BASIC</button>
      </div>
      <ul class="checkmark">
        <li>Access to NYTimes.com and the NYT app.</li><br>
        <li>Unlimited article access, anytime, anywhere.</li><br>
        <li>Discounts to The Times Store and Wine Club.</li><br>
      </ul>
      <p class="billed">* Billed as $9.99 every 30 days for introductory period of one year.</p>
    </div>
    <div class="col-md-4">
      <div class="all-access">
        <h3>All Access</h3>
        <br>
        <p><span class="line-through">$26.99</span>$16.99/month*</p>
        <button type="button" name="button" class="btn btn-secondary">GET ALL ACCESS</button>
      </div>
      <ul class="checkmark">
        <li>Access to NYTimes.com and the NYT app.</li><br>
        <li>Unlimited article access, anytime, anywhere.</li><br>
        <li>Discounts to The Times Store and Wine Club.</li>
        <li><strong>NYT Crossword</strong><br>Play the puzzle for free on any device. Enjoy 20 years of Crossword archives. Solve in minutes with our bite-size mini puzzles.</li><br>
        <li><strong>NYT Cooking</strong><span class="new">NEW</span><br>Access to the entire NYT Cooking recipe archive. Learn with our how-to cooking guides, and build and organize your personal Recipe Box.</li><br>
        <div class="jumbotron">
          <p><strong>1 bonus ALL Access subscription</strong> to give to anyone you'd like (a $27/month value).</p>
        </div>
        <p class="billed">* Billed as $16.99 every 30 days for introductory period of one year.</p>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="home-delivery">
        <h3>Home Delivery + All Access</h3>
        <p>As low as <span class="line-through">$9.25</span>$4.63/week*</p>
        <button type="button" name="button" class="btn btn-secondary">GET HOME DELIVERY</button>
      </div>
      <ul class="checkmark">
        <li>Access to NYTimes.com and the NYT app.</li><br>
        <li>Unlimited article access, anytime, anywhere.</li><br>
        <li>Discounts to The Times Store and Wine Club.</li><br>
        <li><strong>NYT Crossword</strong><br>Play the puzzle for free on any device. Enjoy 20 years of Crossword archives. Solve in minutes with our bite-size mini puzzles.</li><br>
        <li><strong>NYT Cooking</strong><span class="new">NEW</span><br>Access to the entire NYT Cooking recipe archive. Learn with our how-to cooking guides, and build and organize your personal Recipe Box.</li><br>
        <li><strong>Home Delivery</strong><br>Convenient and reliable delivery. Guaranteed. Customized delivery options such as Sunday only, Fri.-Sun., weekday delivery or daily delivery.</li><br>
        <li><strong>Times Experiences</strong><br>Engage directly with journalists online, go beyond the year's biggest stories with panel discussions across the country, and enjoy special discounts and behind-the-scenes access to cultural events.</li><br>
        <li><strong>Exclusive Print Editions</strong><br>Receive special print-only features like The New York Times For Kids, sections dedicated to crosswords and puzzles, and panoramic photojournalism stories.</li>
      </ul>
      <div class="jumbotron">
        <p><strong>2 bonus All Access subscriptions</strong><br>to give to anyone you'd like (a $54/month value).</p>
      </div>
      <p class="billed">* Billed as $18.50 every 28 days for introductoryperiod of 12 weeks. Home delivery price based on Saturday/Sunday delivery. Prices vary based on the delivery location and frequency. Subscribers receive free digital access with a Home Delivery Subscription.</p>
    </div>
  </div>
  <h4>More Subscription Options</h4><br>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <p><strong>Special Academic Rates</strong></p>
        <p>Students and educators, subscribe to The New York Times today and save up to 70% on unlimited access to NYTimes.com.</p><br>
        <p><a href="#">Go to Academic Rates</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <p><strong>NYT Crossword</strong></p>
        <p>Play the Crossword and mini puzzles on any device. Daily puzzles edited by Will Shortz, plus 20 years of great puzzles from our archives.</p><br>
        <p><a href="#">Get NYT Crossword</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <p><strong>NYT Cooking</strong></p>
        <p>Unlimited access to the entire NYT Cooking recipe database, with tools to save and organize your favorites in your personal Recipe Box.</p><br>
        <p><a href="#">Get NYT Cooking</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">

      </div>
    </div>
  </div>
</div>
