<img width="344" height="44" style="-webkit-user-select: none;" src="https://g1.nyt.com/assets/homepage/20180501-200119/images/foundation/logos/nyt-logo-379x64.png">

<ul class="top">
  <li>Why The Times?</li>
  <li>What You Get</li>
  <li>Pricing</li>
  <li>More Options</li>
</ul>

<p class="login">LOG IN</p>
<div class="jumbotron box">
  <h3><strong>Help Times journalists uncover the next big story.</strong></h3>
  <br>
  <h3>Get the Times from <span class="line">$15.99</span> $9.99 a month</h3>
</div>
<div class="near-top">
  <p>Choose between our <strong>Digital</strong> or <strong>Home Delivery</strong> options. You may cancel anytime.</p>
  <p>Are you a student? <span class="click">Special rates here</span></p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="basic">
        <h3>Basic</h3>
        <br>
        <p><span class="line-through">$15.99</span>$9.99/month*</p>
        <button type="button" name="button" class="btn btn-secondary">GET BASIC</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="all-access">
        <h3>All Access</h3>
        <br>
        <p><span class="line-through">$26.99</span>$16.99/month*</p>
        <button type="button" name="button" class="btn btn-secondary">GET ALL ACCESS</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-delivery">
        <h3>Home Delivery + All Access</h3>
        <p>As low as <span class="line-through">$9.25</span>$4.63/week*</p>
        <button type="button" name="button" class="btn btn-secondary">GET HOME DELIVERY</button>    
      </div>
    </div>
  </div>
</div>
