.top{
  text-align: center;
}

.top li{
  display: inline;
  margin: 5px;
}

.login{
  float: right;
  font-weight: bold;
}

.line{
  text-decoration: line-through;
  text-decoration-color: red;
}

.box{
  text-align: center;
}
.near-top{
  text-align: center;
}

.click{
  color: grey;
  text-decoration: underline;
}

.click:hover{
  cursor: pointer;
}
