<img width="344" height="44" style="-webkit-user-select: none;" src="https://g1.nyt.com/assets/homepage/20180501-200119/images/foundation/logos/nyt-logo-379x64.png">

<ul class="top">
  <li>Why The Times?</li>
  <li>What You Get</li>
  <li>Pricing</li>
  <li>More Options</li>
</ul>

<p class="login">LOG IN</p>
<div class="jumbotron box">
  <h3><strong>Help Times journalists uncover the next big story.</strong></h3>
  <br>
  <h3>Get the Times from <span class="line">$15.99</span> $9.99 a month</h3>
</div>
